body{
  margin: 0;
  font-family: sans-serif;
}

.logo{
  width: 200px;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.resultado{
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
}

/* ESTILO DAS TABELAS */
table {
    border-collapse: collapse;
    width: 25%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

/* ESTILO DA BARRA DE NAVEGAÇÃO */
header{
  background: #ECECEC;
}

ul.topnav{
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  background-color: green;
  
}
ul.topnav li { float: left;  }
ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover { background-color: orange; }

@media screen and (max-width: 767px ) { 
  ul.topnav li.rigth,
  ul.topnav li {float:none}
}


/* ESTILOS DOS ELEMENTOS DO FORMULÁRIO */
label{
  display: inline-block;
  width: 140px;
  text-align: right;
}

button {
    background-color: green;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    width: 70px;
}
  form button{
    margin-left: auto;
    margin-top: 20px;
    display: block;
  }
  form input{
    margin-top: 5px;
  }

form{
  width: 350px;
}