body{
  margin: 0;
  font-family: sans-serif;
}

.cabecalho-logo{
  height: 150px;
  padding: 10px;
  text-align: center;
  background-color: #314a06;
}

.img-logo{
  height: 130px;
}
  
.content{
  height: 500px;
  margin: 0 auto;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.item{
  width: 50%;
  color: black;

  flex: 0 1 auto; /* resumo das tags abaixo */
  /* flex-grow: 0; /* Ocupa o resto da largura da div */
  /* flex-shrink: 1; /* encolhe a div */
  /* flex-basis: auto; /* define um width de cada elemento caso não tenha */
}

/* ESTILO DAS TABELAS */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: green;
    color: white;
}

/* ESTILO DA BARRA DE NAVEGAÇÃO */
.navbar{
  text-align: center;
  background: green;
  vertical-align: middle;
  width: auto;
  z-index: 1;
  box-shadow:1px 1px 7px rgba(0, 0, 0, 0.25);
}
.navbar ul {
  display: inline-flex;
}

.navbar ul li {
  margin: -16px 0px -16px 0;
  list-style-type: none;
  padding: 20px;
}

.navbar ul a {
  text-decoration: none;
  color: white;
}

ul li:hover {
    color:#fff;
    background-color: #314a06;
}

@media screen and (max-width: 767px ) { 
  .navbar ul { 
    display: inline; 
    align-items: center; 
    flex-direction: column;
    margin-top: 0px;
  }
}

/* ESTILOS DOS ELEMENTOS DO FORMULÁRIO */
label{
  display: inline-block;
  width: 140px;
  text-align: right;
}

button {
    background-color: green;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    width: 90px;
}
form button{
  margin-left: auto;
  margin-top: 20px;
  display: block;
}
form input{
  margin-top: 5px;
}
form{
  width: 350px;
}