<% include header %>
  <h2>Calculadora</h2>

  <form method="GET">
    <div class="block">
      <label>Valor inicial: </label>
      <input type="text" name="valorInicial" />
    </div>
    <div class="block">
      <label>Taxa a.m.:</label>
      <input type="text" name="taxa" />
    </div>
    <div class="block">
      <label>Quantos meses: </label>
      <input type="text" name="tempo" />
    </div>

    <button type="submit">Calcular</button>
  </form>

  <% if(resultado.calculado){ %>
    <table>
      <thead>
        <th>Mês</th>
        <th>Valor</th>
      </thead>
      <tbody>
        <% var i = 0 %>
          <% resultado.valores.map( (x) => { %>
            <tr>
              <td>
                <%= i++ %>
              </td>
              <td>
                <%= x.toFixed(2) %>
              </td>
            </tr>
            <% })  %>
      </tbody>
    </table>
    <div class="resultado">
      <h2>Resultado</h2>
      <p>R$
        <%= resultado.total.toFixed(2) %>
      </p>
    </div>
    <% } %>
      <% include footer %>