<% include header %>

<div class="container">
<h2>Contas</h2>

  <table>
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Dia de Vencimento</th>
      </tr>
    </thead>
    <tbody>
      <% contas.forEach( conta => {  %>
        <tr>
          <td><%= conta.descricao %></td>
          <td> R$  <%= conta.valorEstimado.toFixed(2) %> </td>
          <td> <%= conta.diaVencimento %> </td>
        </tr>
      <% }) %>
    <tbody>
  </table>
</div>

<% include footer %>