<html>

<head>
  <title>Meu Dinheiro</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header class="cabecalho">
    <div class="cabecalho-logo">
        <img class="img-logo" src="/images/meu-dinheiro.png" >
    </div>

    <nav class="navbar">
      <ul>
       <a href="/"><li>Home</li></a>
       <a href="/calculadora"><li>Calculadora</li></a>
       <a href="/contas"><li>Contas</li></a>
       <a href="/nova-conta"><li>Nova Conta</li></a>
       <a href="/operacoes"><li>Operações</li></a>
       <a href="/nova-operacao"><li>Nova Operação</li></a>
      </ul>
    </nav>
  </header>
  <section class="content">