<html>

<head>
  <title>Meu Dinheiro</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no"
  />
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <header>
    <span >
        <img class="logo" src="images/meu-dinheiro.png" >
    </span>

    <nav id="menu">
      <ul class="topnav">
        <li><a href="/">Home</a></li>
        <li><a href="/calculadora">Calculadora</a></li>
        <li><a href="/operacoes">Operações</a></li>
        <li><a href="/nova-operacao">Nova Operação</a></li>
        <li><a href="/operacoes?filtro=entradas">Operações de Entrada</a></li>
        <li><a href="/operacoes?filtro=saidas">Operações de Saída</a></li>
      </ul>
    </nav>
  </header>
  <section class="content">