<% include header %>
  <h2>Novo operação</h2>
  <form method="POST">
    <div class="block">
      <label>Descrição: </label>
      <input type="text" name="descricao">
    </div>
    <div class="block">
      <label> Valor:</label>
      <input type="text" name="valor">
    </div>
    <button type="submit">Calcular</button>
  </form>
  <% include footer %>